!!!
%html{lang: "#{I18n.locale}"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title RubyCrawler
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body{ class: "#{controller_name} #{action_name}" }
    %main#top.main
      .container-xxl
        %nav.navbar.navbar-expand-lg.navbar-light.border-bottom.mb-3
          .container-fluid
            = link_to 'Home', root_url, class: 'navbar-brand text-white'
            - if user_signed_in?
              = button_to 'Log out', destroy_user_session_path, method: :delete, class: 'btn btn-light'
        - if notice
          %p.notice= notice
        - if alert
          %p.alert= alert
        = yield
